{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{product.title}}</h2>
                        <div class="breadcrumb__option">
                            <a href="">Home</a>
                            <span>{{product.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="featured-products-details"
                                src={{ product.image.url}} alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.title }}</h3>
                        <div class="product__details__price">RM {{ product.get_price }}</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <span style="font-weight:bold">Produced Date:</span><br/>
                                <span class="">{{ product.produced | date:'d-m-Y' }}</span>
                            </div>
                        </div>
            

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <span style="font-weight:bold">Expiry Date:</span> <br/>
                                <span >{{ product.expired| date:'d-m-Y' }}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <span style="font-weight:bold">Description:</span><br/>
                            {{ product.description }}
                            </div>      
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <span style="font-weight:bold">Nutrition Fact:</span><br/>
                                {{ product.nutrition|linebreaks }}
                            </div>      
                        </div>
                        {% if product.in_stock %}
                            {% if product.get_date %}
                            <p class="mt-4" style="color:red;font-weight:bold"> Sorry, this item has expired. Please stay tuned for next batch. </p>
                            {% else %}
                                <form method="POST">
                                {% csrf_token %}
                                <div>
                                <div class="" style="">
                                {{ form | crispy }}
                                </div>
                                </div>
                                <button href="#" class="primary-btn">ADD TO CART</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <div class="product__details__quantity text-center">
                            <p class="mt-4" style="color:red;font-weight:bold"> Sorry, this item is out of stock. </p>
                            </div>
                        {% endif %}
                        <ul>
                            <li><b>Availability</b> <span>{{ product.stock_quantity }}</span></li>
                            <li><b>Pick-up Location</b> <span><samp>{{ product.pickup_location }}</samp></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Shop Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>{{ product.pickup_location }}</h6>
                                    <p>No.2, Jalan Midah 2, Taman Midah, 56000 Cheras, Wilayah Persekutuan Kuala Lumpur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock content %}