{% extends "base.html" %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Surplus Foods</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                {% for category in categories %}
                                    <li><a href="?category={{ category.name }}">{{ category.name }}</a></li>
                                {% endfor %}                        
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <!-- <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                {% for product in object_list|slice:":1" %}
                                        <h6>{{ product.get_count}} products found.</h6><br/>
                                        {{ break }}
                                {% empty %}
                                            <h6>0 products found.</h6><br/>
                                            <p style="color:red">Sorry, currently there is no items available.</p>

                                {% endfor %}
                            </div>
                            </div>
                            <div class="row col-lg-12 text-center justify-content-center">                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in object_list %}
                            {% if product.get_date %} {% comment %} if the item has expired, return true, else false. {% endcomment %}
                            {% else %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="featured__item__pic set-bg">
                                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="featured-products-thumbnail"></a>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h6>
                                            <h6>Expired on: {{ product.expired }}</h6>
                                            <h5>RM{{ product.get_price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->



{% endblock%}