{% extends "base.html" %}
{% block content %} 

<div class="row">
    <div class="col-lg-12 col-md-12 py-5 px-5">
        <h2 style="font-weight:bold;text-align:center"> Thank you for your purchase! </h2> <br/>
        <svg class="thanks" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 468.293 468.293" style="enable-background:new 0 0 468.293 468.293;" xml:space="preserve">
        <circle style="fill:#44C4A1;" cx="234.146" cy="234.146" r="234.146"/>
        <polygon style="fill:#EBF0F3;" points="357.52,110.145 191.995,275.67 110.773,194.451 69.534,235.684 191.995,358.148 
            398.759,151.378 "/>
        </svg>
        <h3 style="text-align:center">Please pick up your items as soon as possible to prevent food expired. </h3>
    </div>
</div>
{% endblock content%}