{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h2 class="h3 mb-3 text-black">{% if token_fail %} Bad Token{% else %}Password Reset</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}{% endblocktrans %}</p>
        <div class="col-md-7 justify-content-center">
            <h3 class="h5 mb-3">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</h3>
        </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary" name="action" value="Submit"/>
            </form>
        {% else %}
            <h5 class="justify-content-center">{% trans 'Your password is now changed.' %}</h5>
        {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}