{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurFood {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> 
<body>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="/static/img/logo1.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#" style="color:black;"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{% url 'profile' %}" style="color:black;"><i class="fa fa-history"></i> Order</a></li>
                <li><a href="{% url 'cart:summary'%}" style="color:black;"><i class="fa fa-shopping-bag"></i> Cart</a></li>
            </ul>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li id='Home_Header' class="active"><a href="/">Home</a></li>
                <li><a href={% url 'cart:product-list' %}>Shop</a></li>
                <li><a href="{% url 'cart:summary'%}">Shopping Cart</a></li>
                <li><a href="/contact/">Contact</a></li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'staff:staff'%}">Staff</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'account_login' %}" style="color: #7fad39">Login</a></li>
                {% else %}
                <li><a href="{% url 'account_logout' %}" style="color: #7fad39">Logout</a></li>
                {% endif %}

            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>

    <!--Hamburger End-->
    <!--Header Start-->
    <header class="header">
        <div class="header__top">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/static/img/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu pt-5 pl-2">
                        <ul>
                                    <li class=""><a href="/">Home</a></li>
                                    <li><a href={% url 'cart:product-list' %}>Shop</a></li>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                    {% if request.user.is_staff %}
                                        <li><a href="{% url 'staff:staff'%}">Staff</a></li>
                                    {% endif %}
                                    {% if not request.user.is_authenticated %}
                                    <li><a href="{% url 'account_login' %}" style="color: #7fad39">Login</a></li>
                                    {% else %}
                                    <li><a href="{% url 'account_logout' %}" style="color: #7fad39">Logout</a></li>
                                    {% endif %}
                                    
                        </ul>
                        </nav>
                        <!--                            <li><a href="#"> <h5 class="pl-3 text-bottom"style="float:right; color:#7fad39;">Login</h5></a></li>
-->
                </div>
                <div class="col-lg-3 pt-4">
                    <div class="header__cart">
                        <ul>   
                            <li><a href="#" style="color:black;"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="{% url 'profile' %}" style="color:black;"><i class="fa fa-history"></i> Order</a></li>
                            <li><a href="{% url 'cart:summary'%}" style="color:black;"><i class="fa fa-shopping-bag"></i> Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!--Header End-->


<!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-inner--text">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya & Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

<div class=container>
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}
</div>    

{% include 'scripts.html' %}

{% block scripts %}
{% endblock scripts %}

</body>
</html>