    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/static/img/logo1.png" alt=""></a>
                        </div>
                        <ul class="text-center">
                            <li>This is a Final Year Project </li>
                            <li>proposed by <span  style="font-weight:bold;">TAN MING HO</span></li>
                            <li>Phone: +65 011-11229611</li>
                            <li>Email: tmh0249@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href={% url 'cart:product-list' %}>Shop</a></li>
                            <li><a href={% url 'contact' %}>Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="footer__widget">
                        <h6>Objective of SurFood</h6>
                        <p>The objective of SurFood is to reduce food wastage by redistributing surplus and expiring foods. Nowaways, most of the supermarkets come with mark down zone to sell expiring items, but somehow these items are not available in online store and has a very low social exposure. SurPlus is an online portal that focusing on selling surplus and expiring foods, which allows customer to purchase expiring foods at a highly-discounted price and pick-up the items at desired store.</p>
                        <div class="footer__widget__social">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </footer>